.text {
  font-size: var(--font-size-content);
  line-height: 1.2;
  margin: 0;
}

.text-intrigue {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
