.main {
  max-width: var(--screen-lg);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-global);
  height: 100vh;
}

.page-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: var(--font-size-title);
  line-height: 1;
  margin: 0;
  font-weight: 400;
}

.description {
  font-size: var(--font-size-content);
  line-height: 1;
}
