.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.item {
  display: block;
}

.link {
  font-size: var(--font-size-content);
  text-decoration: none;
  color: var(--secondary-color);
  padding: 12px;
  transition: color var(--transition-duration);
}

.link:hover {
  color: var(--primary-color);
  cursor: pointer;
}
