.card {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: var(--font-size-title);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 400;
  text-align: center;
  margin: 0 0 var(--space-lg);
}


.text {
  font-size: var(--font-size-little);
  color: var(--text-color);
  line-height: 1.2;
  text-align: center;
  margin: var(--space-md) 0 0;
}
