.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -9999;
  transition: background 0.3s ease;
}

.overlay[data-open="true"] {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

main[data-open="true"] {
  overflow: hidden;
}

.dialog {
  display: block;
  position: relative;
  background: white;
  border-radius: var(--border-radius-outer);
  max-width: 80vh;
  border: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 24px;
}

.dialog[data-open="true"] {
  opacity: 1;
}

.header {
  margin: 0;
  font-size: var(--font-size-middle);
  display: block;
  line-height: 1;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  font-weight: 700;
  padding: 0 0 12px;
}

.body {
  /*min-height: 400px;*/
}

.closeButton {
  position: absolute;
  right: -30px;
  top: -30px;
  border: none;
  width: 40px;
  height: 40px;
  transform-origin: center;
  color: #fff;
}

.closeButton:hover {
  color: var(--primary-color);
}

.closeButton i {
  font-size: 32px;
}
