.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  gap: var(--space-md)
}

.item {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--font-size-content);
  margin: 0 0 var(--space-sm)
}

.error {
  color: var(--primary-color);
  font-size: var(--font-size-little);
  line-height: 1;
  margin: 6px 0 0;
}
