.header {
  max-width: var(--screen-lg);
  width: 100%;
  margin: 0 auto;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
