.button {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-small);
  color: var(--secondary-color);
  transition: all var(--transition-duration);
}

button:hover {
  border-color: var(--primary-color);
  color: var(--primary-color)
}
