.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: var(--space-lg) 0 0;
}

.button {
  padding: 0 3px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-outer);
  transition: 0.3s background-color;
  font-size: var(--font-size-content);
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #000;
}

.button:hover {
  color: #000;
}

.select {
  background-color: var(--primary-color);
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-content);
  color: var(--border-color);
  user-select: none;
}
