.textarea {
  height: 200px;
  overflow-y: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-inner);
  resize: none;
}

.error {
  border-color: var(--primary-color);
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
