.button {
  min-width: 27px;
  min-height: 27px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-outer);
  color: var(--secondary-color);
  transition: all var(--transition-duration);
  font-size: var(--font-size-little);
  text-transform: uppercase;
}

button:hover {
  border-color: var(--primary-color);
  color: var(--primary-color)
}
