html {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  height: 100%;
  font-family: Graphik, Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  display: block;
}

